/********************** GENERAL *********************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* typography */
h2{
    line-height: 35px;
}

h3{
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 4px;
}

h4{
    font-size: 10px;
    font-weight: 400;
    color: #75787d;
}

ul{
    list-style: none;
}

li{
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 12px; 
    transition: color .4s;       
    color: #75787d;
}

a:hover{
    color: #fff;
}

/* utility */
.text-center{
    text-align: center;
}

.color-white{
    color: #fff;
}

.circle{
    border-radius: 50%;
}

/* *********************************************************** */
/* web app */
.web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.web-app .top-content{
    display: flex;
    flex-grow: 1;
}

/******************************** SIDEBAR ***************************/
.web-app .sidebar{
    flex-basis: 180px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #000;
}

.sidebar .sidebar-menu{
    flex-grow: 1;
}

.sidebar .logo img{
    height: 35px;
}

/* menu */
.sidebar-menu .menu{
    margin: 10px 0;
    font-size: 12px;
}

.sidebar-menu .menu li{
    padding: 3px 0;
}

.sidebar-menu .menu img{
    height: 18px;
    vertical-align: middle;
    text-align: center;
}

/* simulation active sidebar menu */
.sidebar-menu .menu .active{
    position: relative;
}

.sidebar-menu .menu .home-active::before{    
    position: absolute;
    top: -2px;
    left: -10px;
    content: '';
    display: inline-block;
    height: 24px;
    width: 2px;
    background-color: #acfe2e;
}

/* playlist */
.playlist h5{
    margin-bottom: 5px;
}

.sidebar .playlist .new-playlist::before{
    content: '+';
    font-size: 30px;
    line-height: 30px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #75787d;
}

.playlist li{
    margin-top: 8px;
}

/* sidebar bottom */
.sidebar .sidebar-bottom{   
    flex-basis: 50px;
}

.sidebar-bottom .download{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #75787d;
    padding-bottom: 5px ;
    margin-bottom: 10px;
}

.sidebar-bottom .profile{
    display: flex;
    align-items: center;
}

.sidebar-bottom .profile h3{
    margin: 0 0 0 6px;
}

.sidebar-bottom .profile-icon,
.sidebar-mobile-bottom .profile-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #75787d;
}

.sidebar-bottom .profile-icon img,
.sidebar-mobile-bottom .profile-icon img{
    height: 20px;
}

/* mobile */
.sidebar-mobile{
    display: none;
}

/* PAGE */
.web-app .page{
    flex-grow: 1;
    background-color: #141921;
    position: relative;
}

/* top transparent */
.web-app .page-top-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: .6;
}

.page-top-bar .button{
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 20px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: transform .4s;
}

.page-top-bar .button:hover{
    transform: scale(1.1);
}

/* SCROLLABLE */
.web-app .scrollable{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 50px 10px 5px;
    overflow: auto;
}

.scrollable .top-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px ;
    font-size: 15px;
    text-transform: uppercase;
}

.scrollable .top-list li{
    padding: 15px 10px;
}

/********************* simulation active list ***********************/
.page .scrollable .active{
    position: relative;
}

.page .scrollable .list-active::before{    
    position: absolute;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: inline-block;
    height: 2px;
    width: 25px;
    background-color: #acfe2e;
}
/* *********************************************************** */
/* category album */
.scrollable .category-title{    
    margin-bottom: 20px;
}

.scrollable .category-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.scrollable .category-box a{
    color: #fff;
}

.scrollable .category-box .box{
    flex-basis: calc((100%/6) - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}

.scrollable .category-box .box .cover{
    position: relative;
    overflow: hidden;
}

.scrollable .category-box .box img{
    max-width: 100%;
    transition: transform .4s;
}

/****************** animation album **********************/
.scrollable .box .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity .4s;
    cursor: pointer;
}

.scrollable .category-box .box:hover .icon{ 
    opacity: 1;
}

.scrollable .category-box .box i:hover{
    transform: scale(1.2);
}

.scrollable .category-box .box:hover img{
    transform: scale(1.2);
}

.scrollable .category-box i{
    font-size: 40px;
    transition: transform .4s;
}

/**************************** PLAYER ****************************/
.web-app .player{
    display: flex;
    justify-content: space-between;
    background-color: #272727;
}

.player .left,
.player .right{
    width: 180px;
}

.player .center{
    width: 40%;
}

.player>div{
    height: 100%;
}

/* left */
.player .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.player .left .information{
    display: flex;
    align-items: center;
}

.player .left .information h3{
    margin: 0;
}

.player .left .add i{
    font-size: 16px;
    margin-left: 5px;
}

.player .left img{
    height: 30px;
    margin-right: 5px;
}

/* center */
/* commands */
.player .commands{
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.player .center button{
    background-color: transparent;
    border: transparent;
    color: #fff;
}

.player .center button i{
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: transform .3s;
}

.player .center button i:hover{
    transform: scale(1.15);
}

.player .center button i.big{
    font-size: 30px;
    margin: 5px 20px;
}

/* time-line */
.player .time-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #bababa;
    padding: 8px 0;
}

.player .time-line .line{
    height: 3px;
    width: 70%;
    background-color: #535353;
    border-radius: 3px;
}

.player .time-line .line .line-top{
    position: relative;
    width: 30%;
    height: 3px;
    background: #bababa;
    border-radius: 3px;
}


/************************* hover player ***************************/
.player .time-line:hover .line-top .circle{
    opacity: 1;
}

.player .time-line:hover .line-top{
    background: #acfe2e;
}

.player .time-line .line .circle{
    position: absolute;
    right: -6px;
    top: -4px;
    display: inline-block;
    height: 12px;   
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}
/* *********************************************************** */
/* right */
.player .right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.player .right-list{
    display: flex;
    align-items: center;
}

.player .right-list li{
    margin-right: 15px;
}
.player .right .line{
    height: 3px;
    width: 70px;
    background-color: #535353;
    border-radius: 3px;
}

.player .right .line .volume-line{
    position: relative;
    width: 30%;
    height: 3px;
    background: #bababa;
    border-radius: 3px;
}


/************************* hover volume **************************/
.player .right .line:hover .volume-line .circle{
    opacity: 1;
}

.player .right .line:hover .volume-line{
    background: #acfe2e;
}

.player .right .line .circle{
    position: absolute;
    right: -6px;
    top: -4px;
    display: inline-block;
    height: 12px;   
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
}

/************************** MEDIA QUERY *******************************/
@media screen and (max-width:992px){
    .scrollable .category-box .box{
        flex-basis: calc((100%/4) - 10px);
        margin-right: 10px;
    }
}

@media screen and (max-width:768px){
    .web-app .sidebar{
        flex-basis: 50px;
    }

    .sidebar .logo{
        display: none;
    }

    .scrollable .category-box .box{
        flex-basis: calc((100%/2) - 10px);
        margin-right: 10px;
    }

    /* sidebar mobile */
    .sidebar-menu,
    .sidebar-bottom{
        display: none;
    }

    .sidebar-mobile{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .sidebar-mobile-top{
        flex-grow: 1;
        display: flex;  
        flex-direction: column;
        align-items: center;    
    }

    .sidebar-mobile-top img{      
        height: 25px;
        margin-bottom: 8px;
    }

    .sidebar-mobile-bottom{
    display: flex; 
    flex-direction: column;
    align-items: center;  
    }

    .sidebar-mobile-bottom .download{
        display: inline-block;
        padding-bottom: 5px ;
        margin-bottom: 10px;
    }

    .sidebar-mobile-bottom .download i{
        font-size: 18px;
    }
}
