*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* typography */
h2{
    line-height: 35px;

}

h3{
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 4px;
}

h4{
    font-size: 10px;
    font-weight: 400;
    color: #75787d;
}

ul{
    list-style: none;
}

li{
    padding: 0;
}

a{
    text-decoration: none;
    color: #75787d;
    font-size: 12px; 
    transition: color .4s;       

}
a:hover{
    color: #fff;
}

.text-center{
    text-align: center;
}

.color-white{
    color: #fff;
}

.circle{
    border-radius: 50%;
}







.web-app{
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;

}

.web-app .top-content{
    display: flex;
    flex-grow: 1;
}



/* SIDEBAR */
.web-app .sidebar{
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    background-color: silver;
}

.sidebar .sidebar-menu{
    flex-grow: 1;
    background-color: #000;
}

.sidebar .sidebar-bottom{   
    flex-basis: 50px;
    background-color: yellowgreen;

}

.sidebar .logo img{
    height: 35px;
}

.sidebar .playlist .new-playlist::before{
    content: '+';
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #75787d;
    
}



/* PAGE */
.web-app .page{
    flex-grow: 1;
    background-color: #141921;
    position: relative;
}

.web-app .page-top-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    opacity: .6;
}

.page-top-bar .button{
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 20px;
    margin-right: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: transform .4s;
}

.page-top-bar .button:hover{
    transform: scale(1.1);
}

/* SCROLLABLE */
.web-app .scrollable{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 50px 10px 5px;
    overflow: auto;
}

.scrollable .top-list{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}

.scrollable .top-list li{
    padding: 10px 5px;
}

.scrollable .category-title{    
    margin-bottom: 20px;
}

.scrollable .category-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.scrollable .category-box a{
    color: #fff;
}

.scrollable .category-box .box{
    flex-basis: calc((100%/6) - 10px);
    margin-right: 10px;
}
.scrollable .category-box .box .cover{
    position: relative;
    overflow: hidden;
}

.scrollable .category-box .box img{
    max-width: 100%;
    transition: transform .4s;
}

/* animation album */
.scrollable .box .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity .4s;
    cursor: pointer;
}

.scrollable .category-box .box:hover .icon{ 
    opacity: 1;
}

.scrollable .category-box .box:hover img{
    transform: scale(1.2);
}

.scrollable .category-box i{
    font-size: 40px;
}

/* PLAYER */
.web-app .player{
    display: flex;
    justify-content: space-between;
    flex-basis: 50px;
    background-color: #272727;
}

.player .left,
.player .right{
    width: 150px;
}

.player .center{
    width: 40%;
}

.player>div{
    height: 100%;
    background-color: thistle;

}

@media screen and (max-width:768px){
    .web-app .sidebar{
        flex-basis: 10px;

    }

    .sidebar .logo{
        display: none;

    }
    

}